.comment {
	font-family: Arial, sans-serif;
	width: 100%;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	        justify-content: center;
	height: 367px; 
	background-color: #0f1721;
	color: white;
	margin-top: 40px;
}
.comment .comment-body {
	width: 1100px;
}
.comment .comment-body .answer {
	font-size: 30px;
	font-weight: 600;
	display: flex;
	height: 40%;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;

}
.comment .comment-body .content {
	display: flex;
	height: 60%;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.comment .comment-body .content .content {
	width: 45%;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.comment .comment-body .content .content .icon {
	font-size: 70px;
	color: #00a2c7!important;
}

.comment .comment-body .content .content .tittle .head {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.comment .comment-body .content .content .tittle {
	position: relative;
	margin-left: 20px;
}
.comment .comment-body .content .content .tittle .link a {
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 20px;
	color: #00a2c7!important;
}
.comment .comment-body .content .content .tittle .link a i{
	padding-left: 15px;
}