body {
	font-family: Arial, sans-serif;
	margin: 0px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.header {
	display: flex;
	flex-direction: row;
	height: 90px;
	border: 1px solid red;
}
.header .start {
	width: 25%;
	height: 100%;
}
.header .start img {
	height: 83px;
	width: 150px;
}
.header .start .imageHome {
	margin-left: 30px;
}
.header .end {
	flex-grow: 1;
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	-webkit-align-items: center;
	align-items: center;	
}
.header .end .content ul {
	display: flex;
	flex-direction: row;
}
.header .end .content li a{
	display: inline;
	padding: 10px 20px;
	font-size: 16px;
	color: #555;
}
.header .end .content li .first {
	border-right-width: 1px;
	border-right-style: solid;
	color: #3B86C5;
	font-weight: bold;
}
.header .end .content li a:hover {
	color: #3B86C5;
}